
<div class="container">
<h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Actividades</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr class="info">
       <th>Fecha</th>
      <th>Nombre de la Actividad</th>
      <th>Descripción</th>
     
      <th>Lugar</th>
      
    </tr>
  </thead>

  <tbody>
    <% @actividads.each do |actividad| %>
      <tr>
          <td><%= actividad.at_date %></td>
        <td><%= actividad.tittle %></td>
        <td><%= actividad.description %></td>
      
        <td><%= actividad.place %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>